<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>

	<h1>FREEMARKER</h1>

	<lable>用户： </lable>
	${username}
	<br />
	<lable>性别： </lable>
	<#if sex==0>女<#else>男</#if>
	<table border="1">
		<thead>
			<tr>
				<th>语言</th>
				<th>价格</th>
				<th>单位</th>
			</tr>
		</thead>
		<tbody>
			<#list list as li>
			<tr>
				<td>${li.title}</td>
				<td>${li.price}</td>
				<td>${li.unit}</td>
			</tr>
			</#list>
		</tbody>
	</table>
	
	
	<button onclick="getdata()">获取Json数据</button>
	<script type="text/javascript" src="resource/javascript/jquery-2.1.0.js"></script>
    <script type="text/javascript">
    
       function getdata(){
    	   $.get("getJsonData",function(data){
    		   console.log(data);  
    	   },"json")
       }
    
    </script>
</body>
</html>